{% extends "base.html" %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/goals/goal-index.css' %}"
/>
{% endblock %}

{% block content %}
  <section class="card-container">
    {% if not user.is_authenticated%}
      <h1 class="user-greeting">Sign up to crush your goals!</h1>
    {% else %}
      <h1 class="user-greeting">What goals are we crushing today {{request.user.username}}?</h1>
    {% endif%}
    {% for goal in goals %}
      <div class="card">
        {% comment %} Add this line {% endcomment %}
        <a href="{% url 'goal-detail' goal.id %}">
          <div class="card-content">
            <div class="card-img-container">
              {% if goal.get_category_display == 'Family' %}
                <img class="card-icon" style="background-color: #ff9272"
                src="{% static 'images/family.svg' %}" 
                alt="Family">

              {% elif goal.get_category_display == "Career" %}
                <img class="card-icon" style="background-color: #74d4e1"
                src="{% static 'images/career.svg' %}" 
                alt="Career">
              
              {% elif goal.get_category_display == "Financial" %}
                <img class="card-icon"
                style="background-color: #9ad359"
                src="{% static 'images/financial.svg' %}" alt="Financial">

              {% elif goal.get_category_display == "Health" %}
                <img class="card-icon health"  style="background-color: #f1827a"
                src="{% static 'images/health.svg' %}" 
                alt="Health">

              {% elif goal.get_category_display == "Social" %}
              <img class="card-icon" style="background-color: #ceb2ff"
              src="{% static 'images/social.svg' %}" 
              alt="Social">

              {% elif goal.get_category_display == "Education" %}
              <img class="card-icon" style="background-color: #ffc107"
              src="{% static 'images/education.svg' %}" 
              alt="Education">

              {% else %}
              <img class="card-icon" style="background-color: #009688"
              src="{% static 'images/growth.svg' %}" 
              alt="Personal Growth"> 

              {% endif %}
            </div>
            <div class="inner-content">
              <h2 class="card-title">{{ goal.name }}</h2>
              <p><small>{{ goal.description }}</small></p>
              {% if goal.completed == True %}
              <div class="completed-content">
                <h4>You've comlpeted this goal!</h4>
                <img class="completed-badge"
                src="{% static 'images/complete-badge.png' %}" 
                alt="Goal Completed"> 
              </div>
            {% endif %}
            </div>
          </div>
        {% comment %} And this line {% endcomment %}
        </a>
      </div>
    {% endfor %}
  </section>
{% endblock %}
