<section class="card-container">
  {% for goal in goals %}
    <div class="card">
      {% comment %} Add this line {% endcomment %}
      <a href="{% url 'goal-detail' goal.id %}">
        <div class="card-content">
          <div class="card-img-container">
            <img 
              src="" 
              alt="A skater boy cat"
            >
          </div>
          <h2 class="card-title">{{ goal.name }}</h2>
          <p><small>{{ goal.description }}</small></p>
        </div>
      {% comment %} And this line {% endcomment %}
      </a>
    </div>
  {% endfor %}
</section>